<!--The content below is only a placeholder and can be replaced.-->



<div class="row-center">


    <div>
    <button type="button" class="btn btn-success col-sm-4" (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
 
    <button type="button" class="btn btn-success col-sm-4" (click)="logout()" *ngIf="(user | async)?.uid">LogOut</button>
    
 

  <input type="text" class="glyphicon glyphicon-user" id="message" *ngIf="(user | async)?.uid" placeholder="Write your message!!" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
 
    </div>
  </div>
    <div id="details-container">
      <p *ngFor="let item of items | async">
        <a class="glyphicon glyphicon-envelope center">  </a>
          {{item.message}}
      
      </p>
  </div>

